# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
bower.json
src/app/app.component.js
src/app/app.component.js.map
src/app/app.routes.js
src/app/app.routes.js.map
src/app/comps/ba-card/ba-card-blur-helper.service.js
src/app/comps/ba-card/ba-card-blur-helper.service.js.map
src/app/comps/ba-card/ba-card-blur.directive.js
src/app/comps/ba-card/ba-card-blur.directive.js.map
src/app/comps/ba-card/ba-card.component.js
src/app/comps/ba-card/ba-card.component.js.map
src/app/comps/ba-card/bgMetrics.js
src/app/comps/ba-card/bgMetrics.js.map
src/app/comps/backtotop/backtotop.component.js
src/app/comps/backtotop/backtotop.component.js.map
src/app/comps/popularapp/popularapp.component.js
src/app/comps/popularapp/popularapp.component.js.map
src/app/comps/sliderpanel/sliderpanel.component.js
src/app/comps/sliderpanel/sliderpanel.component.js.map
src/app/comps/theme.configProvider.js
src/app/comps/theme.configProvider.js.map
src/app/comps/theme.constants.js
src/app/comps/theme.constants.js.map
src/app/environment.js
src/app/environment.js.map
src/app/fractal/fractal.component.js
src/app/fractal/fractal.component.js.map
src/app/index.js
src/app/index.js.map
src/app/kendo/
src/app/line-intersection/line-intersection.component.js
src/app/line-intersection/line-intersection.component.js.map
src/app/three-periodic/three-periodic.component.js
src/app/three-periodic/three-periodic.component.js.map
src/app/todo/todo.component.js
src/app/todo/todo.component.js.map
src/app/todo1/todo1.component.js
src/app/todo1/todo1.component.js.map
src/app/todo2/todo2.component.js
src/app/todo2/todo2.component.js.map
src/main.js
src/main.js.map
src/system-config.js
src/system-config.js.map
