# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
src/app/app.component.js
src/app/app.component.js.map
src/app/app.routes.js
src/app/app.routes.js.map
src/app/comps/
src/app/environment.js
src/app/environment.js.map
src/app/fractal/
src/app/index.js
src/app/index.js.map
src/app/kendo/
src/app/line-intersection/
src/app/three-periodic/
src/app/todo/
src/app/todo1/
src/app/todo2/
src/main.js
src/main.js.map
src/system-config.js
src/system-config.js.map
