<br/>
<br/>
<br/>
<br/>
<Sliderpanel>
  <div class="campaignSlider noScroll">
    <app-todo1 class="page center todo1 selected">
      <div class="yScroll">
        <hr/>
        <h3>To do sample application with remote server save</h3>
        <h5>uses your ip address as unique token and keeps data on server for 2 days</h5>
        <hr/>
      </div>
    </app-todo1>
    <app-todo2 class="page right todo2">
      <hr/>
      <h3>To do remote server statistics</h3>
      <h5>display your total CRUD operations to remote node server</h5>
      <hr/>
    </app-todo2>
  </div>
</Sliderpanel>
